node_modules
.DS_STORE
/node_modules
/cypress/coverage
/cypress/integration
/cypress/fixtures
/cypress/plugins
/cypress/support
/cypress/videos
/cypress/screenshots
/cypress/integration
/cypress/tests/examples
/data
.env
.env.test